[submodule "module2/digital-assets-management-app/lib/forge-std"]
	path = module2/digital-assets-management-app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "module2/digital-assets-management-app/lib/openzeppelin-contracts"]
	path = module2/digital-assets-management-app/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "module2/digital-assets-app/contracts/lib/openzeppelin-contracts"]
	path = module2/digital-assets-app/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "saga-swap/lib/forge-std"]
	path = saga-swap/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "module4/saga-swap-contract/lib/openzeppelin-contracts"]
	path = module4/saga-swap-contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
